@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<CargoTracking>
@{
    ViewBag.Title = "CustomerCargoTracking";
    Layout = "~/Views/Shared/_CustomerLayout.cshtml";
}

<br />
<h2>Kargo Hareketleri</h2>
<br />


<table class="table table-striped">
    <tr>
        <th>Açıklama</th>
        <th>Tarih</th>

    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Description</td>
            <td>@item.Date</td>

        </tr>
    }

</table>

