@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Employee

@{
    ViewBag.Title = "GetEmployee";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Cariler Güncelleme</h2>
<br />

@using (Html.BeginForm("UpdateEmployee", "Employee", FormMethod.Post, new { enctype = "multipart/form-data" }))
{

    <div class="form-group">
        @Html.HiddenFor(x => x.EmployeeID)
        <h6>Personel Adı</h6>
        @Html.TextBoxFor(x => x.EmployeeName, new { @class = "form-control" })
        @*@Html.ValidationMessageFor(x => x.CustomerName, "", new { @style = "color:red" })*@
        <br />


        <h6>Personel SoyAdı</h6>
        @Html.TextBoxFor(x => x.EmployeeSurName, new { @class = "form-control" })

        <br />
        <h6>Görsel</h6>
        <input type="file" name="EmployeeImage" />
        <br />
        <h6>Departman</h6>
        @Html.DropDownListFor(x => x.DepartmentID, (List<SelectListItem>)ViewBag.varaible, new { @class = "form-control" })
        <br />

        <button class="btn btn-default" style="background-color:yellowgreen">Güncelle</button>
    </div>


}


