@model MvcOnlineTicariOtomasyon.Models.Sınıflar.Category

@{
    ViewBag.Title = "CategoryUpdate";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<br />
<h2>Güncelleme Sayfası</h2>
<br />


@using (Html.BeginForm("CategoryUpdate", "Category", FormMethod.Post))
{
    <div class="form-group">
        <h6>Kategori Adı</h6>
        @Html.TextBoxFor(x => x.CategoryName, new { @class = "form-control" })
        @Html.HiddenFor(x => x.CategoryID)
        <br />
        <button class="btn btn-warning">Güncelle</button>

    </div>
}
