@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@using PagedList
@using PagedList.Mvc
@model  PagedList.IPagedList<Category>



@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="~/Scripts/jquery-3.4.1.js"></script>


<table class="table table-bordered" style="margin-top:20px">

    <tr>


        <th>Kategori Adı</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var category in Model)
    {

        <tr>

            <td>@category.CategoryName</td>
            <td><a href="/Category/CategoryDelete/@category.CategoryID" class="btn btn-danger">Sil</a></td>
            <td><a href="/Category/CategoryUpdate/@category.CategoryID" class="btn btn-success">Güncelle</a></td>
        </tr>
    }


</table>
@Html.PagedListPager((IPagedList)Model, page => Url.Action("Index", new { page })
,new PagedListRenderOptions
{
    LiElementClasses=new List<string> { "page-link"}
} )

<a href="/Category/CategoryAdd/" class="btn btn-primary">Kategori Ekle</a>


