
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<br />

<div>

    @using (Html.BeginForm("Index", "QR", FormMethod.Post))
    {

        <input type="text" name="code" />
        <input type="submit" value="QR Oluştur" />

    }
    @if (ViewBag.qRCodeımage != null)
    {
        <img src="@ViewBag.qRCodeımage" alt="" style="width:400px;height:400px;" />
    }
</div>

